@media (max-width: 768px) {
    /* Estilos específicos para móviles */
    #menu {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        text-decoration: none;
        padding: 0.5rem 0.75rem;
        background-color: #eee;
        color: #000;
        cursor: pointer;
    }

    #menu::before {
        content: "≡"; /* Ícono de hamburguesa */
    }

    nav {
        background-color: #ace;
    }

    .navigation {
        list-style: none;
        margin: 0 auto;
        max-width: 760px;
    }

    .navigation li {
        display: none; /* Esconde los enlaces por defecto */
    }

    .navigation a {
        display: block;
        padding: 0.75rem;
        text-align: left;
        text-decoration: none;
        color: white;
        font-weight: 700;
        transition: 0.5s;
        font-size: clamp(1rem, 2vmin, 1.5rem);
    }

    .navigation a:hover,
    .navigation a:active {
        color: white;
        background-color: white;
    }

    /* Mostrar los enlaces cuando la clase "show" está activa */
    .navigation.show li {
        display: block;
    }

    /* Cambiar el ícono de hamburguesa a una "X" cuando el menú está activo */
    #menu.show::before {
        content: "X"; /* Cambio del ícono */
    }
}
