@media (min-width: 768px) {/* Estilos para el header */
header {
    background-color: red; /* Fondo rojo */
    padding: 10px 0; /* Aumenta el tamaño del header (espaciado arriba y abajo) */
    text-align: center; /* Centra el texto horizontalmente */
    color: white; /* Texto blanco */
    font-size: 2rem; /* Tamaño de fuente más grande */
    position: relative; /* Asegura que los elementos dentro del header estén en flujo normal */
    z-index: 1000; /* Asegura que el header esté encima de otros elementos */
    border-bottom: 15px solid green; /* Línea verde de 3px debajo del header */

}

/* Estilos para el texto dentro del header */
header h1 {
    margin: 0; /* Elimina márgenes por defecto */
    font-size: 3rem; /* Aumenta el tamaño del texto dentro del header */
    font-weight: bold; /* Acentúa el texto */
    letter-spacing: 2px; /* Opcional, para dar un poco de espacio entre las letras */
}

body {
    font-family: Arial, sans-serif;
    background-size: cover;
  }
  
/* Estilo para la caja .info-box */


.info-box {
    position: absolute; /* Asegura que el elemento se posicione en relación al contenedor */
    bottom: 20px; /* Espacio desde el fondo de la ventana */
    top:200px;
    left: 20px; /* Ajuste de posición desde el lado izquierdo */
    background: rgba(255, 255, 255, 0.9); /* Fondo blanco semitransparente */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interior */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil */
    width: 300px; /* Ancho fijo para la caja */
    height: 350px;
    box-sizing: border-box; /* Incluye padding y border dentro del ancho y alto */
    overflow: hidden; /* Asegura que el contenido no se desborde fuera de la caja */
    opacity: .7; /* 50% de opacidad (semi-transparente) */
}



  
.info-box h2 {
    margin-top: 0;
    color: #006400;
  }


/*bloque 2*/

.info-box2 {
    position: absolute; /* Asegura que el elemento se posicione en relación al contenedor */
    bottom: 20px; /* Espacio desde el fondo de la ventana */
    top:300px;
    right: 20px; /* Ajuste de posición desde el lado izquierdo */
    background: rgba(255, 255, 255, 0.9); /* Fondo blanco semitransparente */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interior */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil */
    width: 300px; /* Ancho fijo para la caja */
    height: 250px;
    box-sizing: border-box; /* Incluye padding y border dentro del ancho y alto */
    overflow: hidden; /* Asegura que el contenido no se desborde fuera de la caja */
    opacity: .7; /* 50% de opacidad (semi-transparente) */
}



  
.info-box2 h2 {
    margin-top: 0;
    color: #006400;
    padding-bottom: 10px; /* Espacio debajo del h2 para separarlo de otros elementos */
    word-wrap: break-word; /* Asegura que el texto largo se ajuste dentro de la caja */

  }

  .weather-icon {
    width: 20px; /* Ajusta el tamaño según lo que necesites */
    height: auto; /* Mantiene la proporción de la imagen */
    vertical-align: middle; /* Alinea verticalmente la imagen con el texto */
    margin-right: 8px; /* Añade un pequeño espacio entre el ícono y el texto */
}



/*imagen*/
.meerkat-image {
    width: 100%;
    height: 700px;
    object-fit: cover; /* Asegura que la imagen se ajuste sin distorsionarse */
    display: block; /* Evita que se superponga a los otros elementos */
}

footer {
    background-color: red;
    color: white; /* Texto blanco */
    text-align: center; /* Centra el texto horizontalmente */
    margin: 0;
    padding: 10px 0;
    position: relative;


}

footer p {
    margin: 0; /* Elimina el margen predeterminado */
    font-size: 1rem; /* Tamaño de fuente (ajustable) */
}}