@media (max-width: 767px) {
    main {
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;  /* Alinea al centro horizontalmente */
        justify-content: flex-start; /* Alinea hacia el top */
        padding: 20px;
    }


    .meerkat-image {
        height: auto; /* Ajusta la altura dependiendo de la imagen */
        margin-bottom: 20px; /* Mantén el espacio debajo */

    }







}