* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Sansita", sans-serif;
}

/* Estilos del header */
header {
    background-color: #F5F5DC;
    display: grid;
    grid-gap: 1rem;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 30px #003366;
}

/* Título h1 centrado en la parte superior */
h1 {
    text-align: center;
    font-size: 2rem;
    margin: 40px 0; /* Espacio adicional superior e inferior para el título */
}

/* Estilos para la barra de navegación */
nav {
    background-color: #003366;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size: larger;
}

nav a:hover {
    text-decoration: underline double;
    background-color: #eee;
    color: #000;
}

.active {
    color: yellow;
}

/* Estilos para vistas más grandes */
@media (min-width: 740px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    nav ul {
        justify-content: flex-end;
        flex-direction: row;
    }
    nav a {
        flex: 1 1 100%;
    }
}
header,
main {
    max-width: 1200px; /* Ajuste el tamaño máximo de la página */
    margin: 0 auto; /* Centrado horizontal */
    padding: 20px;
}

/* Estilo para la sección del título (fuera de la cuadrícula) */
.title-section {
    margin-bottom: 20px; /* Espacio entre el título y la cuadrícula */
}

.main-title {
    text-align: center; /* Centra el título */
    font-size: 2rem; /* Tamaño de fuente adecuado */
    margin-bottom: 20px; /* Espacio debajo del título */
}

/* Estilos para la cuadrícula de imágenes */
.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  /* Crea 3 columnas de tamaño igual */
    grid-gap: 20px;  /* Espacio entre las celdas de la cuadrícula */
    margin-top: 20px; /* Margen superior para separar el título de la cuadrícula */
}

/* Ajustes para las imágenes y sus descripciones */
figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

figcaption {
    margin-top: 10px; /* Espacio entre la imagen y el texto */
    font-size: 1rem;
    color: #333;
}

img {
    width: 100%; /* Hace que las imágenes ocupen todo el espacio disponible */
    height: auto; /* Mantiene la proporción original de la imagen */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

/* Estilos para el pie de página */
footer {
    text-align: center; /* Centra el texto horizontalmente */
    padding: 20px 0;
    background-color: #F5F5DC;
}

footer p {
    margin: 0;
    font-size: 1rem;
}
